@import url('https://fonts.googleapis.com/css2?family=Noto Sans Traditional Chinese&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Playfair+Display:ital,wght@1,700&display=swap');
body {
    font-family: "Noto Sans Traditional Chinese", serif;
    font-size: 18px;
    color: #F4F9F5;
    background-image: url("image\\background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background-color: #F0F6F133;
    width: 65vw;
    /* max-width: 630px; */
    min-width: 300px;
    margin: 0 auto;
    padding: 1px 2em;
    border-radius: 15px;
}

.item {
    position: relative;
    background-color: #11134BCC;
    width: 70%;
    margin: 3px auto;
    padding: 0 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 3px black;
}

.title-text {
    font-size: 1.2em;
    /* font-weight: bold; */
    padding: 5px;
    margin: 0 auto 2px;
    border-bottom: 1px solid #F4F9F5;
    color: #DFDDA3;
}

.inner-text {
    text-indent: 36px;
    margin: 10px auto;
    padding: 5px 0 15px;
}

.web-link {
    margin: -10px auto;
}

.exe-link {
    margin: auto;
    padding: 15px 0;
}

.web-link::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 15px solid #AFABAB;
    position: relative;
    top: 2px;
    left: 2px;
}

.exe-link::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 15px solid #AFABAB;
    position: relative;
    top: 2px;
    left: 2px;
}

.inner-link {
    color: #F4F9F5;
    border-radius: 2px;
    border:3px solid transparent;
    padding: 1px;
    margin: 1px auto;
}

.inner-link:hover {
    background-color: transparent;
    border: 3px solid #E1E3E299;
}

.inner-link:active {
    background-color: #E1E3E299;
    border-color: transparent;
}

footer {
    font-family: "Lemon", serif;
    text-align: center;
    margin: 20px auto;
}

#codelink-img {
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    margin-bottom: -8px;
}

#codelink-img:hover {
    border: 3px solid #E1E3E299;
    border-radius: 20px;
}

#footer-img {
    width: 50px;
    height: 50px;
    margin: 0 0 -12px 15px;
}
.footer-link {
    color: #F4F9F5;
}

@media (max-width:1250px) {
    
}

@media (max-width:500px) {

}