@import url('https://fonts.googleapis.com/css2?family=Noto Sans Traditional Chinese&display=swap');
body {
    font-family: "Noto Sans Traditional Chinese";
    font-size: 18px;
    color: #F4F9F5;
    background-image: url("image\\background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background-color: #F0F6F133;
    width: 70vw;
    /* max-width: 630px; */
    min-width: 300px;
    margin: 0 auto;
    padding: 1px 2em;
    border-radius: 15px;
}

.item {
    background-color: #11134BCC;
    width: 95%;
    margin: 3px auto;
    padding: 0 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 3px black;
}

.title-text {
    font-size: 1.2em;
    /* font-weight: bold; */
    padding: 5px;
    margin: 0 auto 2px;
    border-bottom: 1px solid #F4F9F5;
    color: #DFDDA3;
}

.inner-text {
    text-indent: 36px;
    margin: 10px auto;
    padding: 5px 0 15px;
}

.web-link {
    margin: -10px auto;
}

.exe-link {
    margin: auto;
    padding: 15px 0;
}

a {
    color: #F4F9F5;
    border-radius: 2px;
    border:3px solid transparent;
    padding: 1px;
    margin: 1px auto;
}

a:hover {
    background-color: transparent;
    border: 3px solid #E1E3E299;
}

a:active {
    background-color: #E1E3E299;
    border-color: transparent;
}

@media (max-width:1250px) {
    
}

@media (max-width:500px) {

}